.address{
    display: none;
}

.show-order{
    display: none;
}

.address-summary{
    display: none;
}
.jumbotron{
    font-size: 500;
    background-image: url(../pizzajumbo.webp);
    background-size: cover;
    object-fit: fill;
    height:500px;
    color:white;
    text-align: center;
    font: caption;
    font-family: 'Nosifer', cursive;
    background-attachment: fixed;


}