.address{
    display: none;
}

.show-order{
    display: none;
}

.address-summary{
    display: none;
}
.jumbotron{
    background-image: url(../pizzajumbo.webp);
    background-size: cover;
    height:500px;
    color:white;
    text-align: center;
    font: caption;
    font-size:100%;


}